@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #111827;
}

@font-face {
  font-family: 'NimbusSanL-Reg';
  src: url(../src/images/fonts/NimbusSanL-Reg.woff) format('woff');
}

@font-face {
  font-family: 'NimbusSanL-Bol';
  src: url(../src/images/fonts/NimbusSanL-Bol.woff) format('woff');
}

@font-face {
  font-family: 'NimbusSanL-BolIta';
  src: url(../src/images/fonts/NimbusSanL-BolIta.woff) format('woff');
}

@font-face {
  font-family: 'NimbusSanL-BolIta';
  src: url(../src/images/fonts/NimbusSanL-RegIta.woff) format('woff');
}

.name {
  font-family: 'NimbusSanL-RegIta', sans-serif;
}

.blog-header {
  font-family: 'NimbusSanL-RegIta', sans-serif;
}



